<h2 class="sub-header">Add Customer</h2>

<form ng-submit="addCustomer()">

    <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" name="first_name"
               ng-model="customer.first_name" placeholder="First Name">
    </div>

    <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" name="last_name"
               ng-model="customer.last_name" placeholder="Last Name">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>

</form>