<h2 class="sub-header">Invoices</h2>

<div class="table-responsive" ng-init="getInvoices()">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Customer</th>
                <th>Service</th>
                <th>Price</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="asdf in invoices">
                <td> {{asdf._id}} </td>
                <td> {{asdf.customer.first_name}} </td>
                <td> {{asdf.service}} </td>
                <td> {{asdf.price}} </td>
                <td> {{asdf.status}} </td>
                <td>
                    <a href="/#invoices/details/{{asdf._id}}" class="btn btn-primary">Details</a>
                    <a href="/#invoices/edit/{{asdf._id}}" class="btn btn-default">Edit</a>
                    <button class="btn btn-danger" ng-click="deleteInvoice(asdf._id)">Delete </button>
                </td>
            </tr>
        </tbody>

    </table>

</div>


